.services{
    display: grid;
    place-content: center;
    height: 50vh;
}

h1{
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
    font-family: 'Bebas Neue';
    /* font-family: 'Bebas Neue'; */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    line-height: 5,9rem;
}

.char{
    transform: translateY(-115px);
    transition: transform .5s;
}

